<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleDisplayName</key>
        <string>Login2 Pro</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>login2</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>$(FLUTTER_BUILD_NAME)</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>$(FLUTTER_BUILD_NUMBER)</string>

        <key>BGTaskSchedulerPermittedIdentifiers</key>
        <array>
            <string>dev.flutter.background.refresh</string>
            <string>be.tramckas.workmanager.BackgroundTask</string>
        </array>

        <!-- Permissions for various access requirements -->
        <key>NSPhotoLibraryUsageDescription</key>
        <string>Need access to upload profile picture and share images and files in chat</string>
        <key>NSContactsUsageDescription</key>
        <string>Need access to contacts for sharing information</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>Need access to the microphone for voice recording</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Need access to your location for location-based features</string>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>Need access to your location to continue using location-based services in the background</string>
        <key>NSCameraUsageDescription</key>
        <string>Need access to upload profile picture and share images and files in chat</string>

        <!-- Background modes for different service requirements -->
        <key>UIBackgroundModes</key>
        <array>
            <string>remote-notification</string>
            <string>fetch</string>
            <string>processing</string>
            <string>audio</string>
        </array>

        <!-- Adding LSApplicationQueriesSchemes for tel scheme -->
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>tel</string>
        </array>
        <key>FlutterDeepLinkingEnabled</key>
        <true/>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>example1</string>
                </array>
            </dict>
        </array>

        <!-- Additional configurations -->
        <key>UIApplicationSupportsIndirectInputEvents</key>
        <true/>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false/>

        <!-- flutter_downloader configuration -->
        <key>FDMaximumConcurrentTasks</key>
        <integer>5</integer>
        <key>FDAllFilesDownloadedMessage</key>
        <string>All files have been downloaded</string>
        <key>FDFetchChannelWithinIsolate</key>
        <true/>

        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
    </dict>
</plist>
